:root{
  /* BACKGROUNDS */
  --blue-bg-color:#002c99;
  --yellow-bg-color:#ffb41d;
  --gray-bg-color:#d7dadf;  
  
  /* BUTTONS */
  --blue-btn-color:#0046f5;
  --dk-blue-btn-color:#002D94;

  /* TEXTS */
  --white-tx-color:#ffffff;
  --red-tx-color:#ff0022;
  --black-tx-color:#000;
  --dk-blue-text-color:#001432;
  
  /* ICONS */
  --blue-i-color:#0046f5;
  --dk-blue-i-color:#001432;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

