.banner-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .Register-Field {
    border: none;
    background: rgba(0, 0, 0, 0.15);
    color: #000;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 120%;
    padding: 1rem;
    transition: all 0.2s linear;
  }
  
  .Register-Field:focus {
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  }
  
  .Register-Error {
    color: #ff0022;
    margin: 1rem 0;
  }

  .error-show {
    opacity: 1;
    color: #ff0022;
    font-weight: 700;
  }
  
  .error-hidden {
    opacity: 0;
  }
  
  /* RESPONSIVO */
  
  @media only screen and (max-width: 720px) {
    .Register-Field {
      width: 100%;
    }
  
    .Form-container-register {
      width: 100%;
      margin-top: 1rem;
    }
  }
  