.container{
    display: flex;
    flex-direction: column;
}

.Login-Field {
    border: none;
    background: rgba(0, 0, 0, 0.15);
    color: #000;
    margin: 1rem 0;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 15rem;
    padding: 1rem;
    transition: all .2s linear;
}

.Login-Field:focus {
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.Login-Error{
    color: #ff8080
}

.Login-btn{
    background: #00cc99;
    color: #fdfdfd;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
}


