.Login-Field {
  border: none;
  background: rgba(0, 0, 0, 0.15);
  color: #000;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  border-radius: 7px;
  width: 120%;
  padding: 1rem;
  transition: all 0.2s linear;
}

.Login-Field:focus {
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.Login-Error {
  color: var(--red-tx-color);
  margin-top: 1rem;
}

.Login-btn {
  background: var(--blue-btn-color);
  color: var(--white-tx-color);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.Login-btn:hover {
  background: var(--dk-blue-btn-color);
  transition: all 0.2s linear;
}

.error-show {
  opacity: 1;
  color: var(--red-tx-color);
  font-weight: 700;
}

.error-hidden {
  opacity: 0;
}

/* RESPONSIVO */

@media only screen and (max-width: 720px) {
  .Login-section-title {
    font-size: 2.5rem;
  }

  .Login-Field {
    width: 100%;
  }
}
