.Footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #D7DADF;
    width: 100%;
    height: 5vh;
    margin-top: auto;
}

.Icons-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}

.Footer-Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #001432;
    font-size: 2rem;
}

.Footer-Icon:hover{
    color: #0046F5;
    transition: all .2s linear;
}

.Info{
    color: #001432;
}

@media only screen and (max-width: 720px) {
    .Footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 12vh;
        
        padding: 4rem 0;
    }

    .Icons-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
    }

    .Info{
        margin-bottom: 0.8rem;
    }

    .Footer-Icon{
        margin-left: 0.6rem;
        margin-right: 0.6rem;
    }
}