.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: auto;
  
}

.about-card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 50vh;
  background: transparent;
  border: 2px var(--blue-btn-color) solid;
  border-radius: 20px;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.251);
}

.about-card:hover{
  border: 2px var(--yellow-bg-color) solid;
  background: var(--gray-bg-color);
  transform: scale(1.1);
  transition: all .3s linear;
}

.card-icon{
  width: 4rem;
 margin: 2rem 0
}

.card-title{
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.card-desc{
  text-align: center;
  font-size: 1.2rem;
}