.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NF-img{
    width: 40rem;
}

.NF-title{
    font-size: 4rem;
}

@media only screen and (max-width: 720px){
    .NF-img{
        width: 70%;
    }
    
    .NF-title{
        font-size: 2rem;
    }
}